<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverip" value="127.0.0.1"/>
    <add key="socket_port_crm" value="8886"/>
    <add key="id" value=""/>
    <add key="extension" value=""/>
    <add key="pass" value=""/>
    <add key="autostart" value="0"/>
    <add key="topmost" value="0"/>
    <add key="nopop" value="0"/>
    <add key="save_pass" value="0"/>
    <add key="custom_font" value=""/>
    <add key="custom_color" value=""/>
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/client/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="eclues!@" />
    <add key="FtpRemoteFolder" value="" />
    <add key="FtpUserName" value="eclues" />
    <add key="FtpVersion" value="2.1.44" />
    <add key="UpdaterDir" value="C:\\MiniCTI\\WeDoUpdater\AutoUpdater.exe"/>
  </appSettings>
</configuration>